---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const projects = await getCollection('projects', ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<section
  id="projects"
  class="grid w-full place-content-center overflow-hidden py-12"
>
  <h1>
    {t('projects.title')}
  </h1>
  <h2>
    {t('projects.subtitle')}
  </h2>
  <div class="container grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    {
      projects.map((project) => (
        <article class="group relative m-4 overflow-hidden rounded-md bg-stone-100 transition-shadow hover:shadow-xl">
          <Image
            src={`/home/projects/${project.data.featuredImage}`}
            alt={project.data.title}
            width={600}
            height={400}
            class="aspect-video w-full object-cover"
          />
          <div class="overlay absolute inset-0 grid place-content-center bg-gray-950/40 opacity-0 backdrop-blur transition-all duration-300 group-hover:opacity-100">
            <h3 class="text-white">{project.data.title}</h3>
          </div>
        </article>
      ))
    }
  </div>
</section>
