.ReactModal__Overlay {
  width: 100vw;
  backdrop-filter: blur(2px);
  background-color: rgb(47,47,47, 0.75);
  z-index: 60;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(15px);
  transition: transform 300ms ease-in-out;

  border: none;
  background: none;
  border-radius: none;
  padding: none;
  inset: 60px 40px !important;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(15px);
}

.ReactModal__Body--open,
.ReactMod__Html--open {
  overflow: hidden;
}

#formModalContact{
  margin: auto;
  height: min-content;
}

#contactContent {
  min-height: 6rem;
}

@media (max-width: 768px) {
  .ReactModal__Content {
    inset: 60px 10px 10px !important;
  }
}
