<div class="grid-lines w-full">
  <div class="vertical left-1/4"></div>
  <div class="vertical left-2/4"></div>
  <div class="vertical left-3/4"></div>
  <div class="horizontal top-1/4"></div>
  <div class="horizontal top-2/4"></div>
  <div class="horizontal top-3/4"></div>
</div>
<style lang="scss">
  .grid-lines {
    div {
      @apply absolute from-gray-400/0 via-gray-400/80 to-gray-400/0;

      &.vertical {
        @apply top-[-10%] h-[120%] w-px bg-gradient-to-b;
      }

      &.horizontal {
        @apply left-[-10%] h-px w-[120%] bg-gradient-to-r;
      }
    }
  }
</style>
