<div class="grid-lines z-0 w-full">
  <div class="vertical left-[20%]"></div>
  <div class="vertical left-[40%]"></div>
  <div class="vertical left-[60%]"></div>
  <div class="vertical left-[80%]"></div>
  <div class="horizontal top-[25%]"></div>
  <div class="horizontal top-[50%]"></div>
  <div class="horizontal top-[75%]"></div>
</div>
<style lang="scss">
  .grid-lines {
    div {
      @apply from-gray-400/0 via-gray-400/80 to-gray-400/0;
      position: absolute;

      &.vertical {
        @apply bg-gradient-to-b;
        top: -10%;
        height: 120%;
        width: 1px;
      }

      &.horizontal {
        @apply bg-gradient-to-r;
        left: -10%;
        width: 120%;
        height: 1px;
      }
    }
  }
</style>
