<div class="grid-lines z-0 w-full">
  <div
    class="vertical left-[20%] bg-linear-to-b from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="vertical left-[40%] bg-linear-to-b from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="vertical left-[60%] bg-linear-to-b from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="vertical left-[80%] bg-linear-to-b from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="horizontal top-[25%] bg-linear-to-r from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="horizontal top-[50%] bg-linear-to-r from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
  <div
    class="horizontal top-[75%] bg-linear-to-r from-gray-400/0 via-gray-400/80 to-gray-400/0"
  >
  </div>
</div>
<style>
  .grid-lines {
    div {
      position: absolute;

      &.vertical {
        background-image: linear-gradient(var(--tw-gradient-stops));
        top: -10%;
        height: 120%;
        width: 1px;
      }

      &.horizontal {
        left: -10%;
        width: 120%;
        height: 1px;
      }
    }
  }
</style>
