---
import { getLangFromUrl, useTranslations } from '~/i18n';
import GridLines from '~/components/home/skills/GridLines.astro';
import { SkillsSelector } from './SkillsSelector';
import { DOMAINS } from '~/content/skills';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="skills"
  class="relative grid w-full place-content-center overflow-hidden py-24"
>
  <GridLines />
  <h1
    class="z-10 bg-linear-to-br from-purple-700 to-purple-950 to-180% bg-clip-text text-transparent dark:from-slate-50 dark:to-slate-500 dark:to-100%"
  >
    {t('skills.title')}
  </h1>
  <h2 class="z-10">
    {t('skills.subtitle')}
  </h2>
  <section class="domains z-10 container mt-4">
    <SkillsSelector domains={DOMAINS} client:visible />
  </section>
</section>

<style>
  @keyframes appearBlur {
    0% {
      opacity: 0;
      scale: 0.85;
      filter: blur(15px);
    }
    75% {
      opacity: 1;
      scale: 1;
    }
    100% {
      filter: blur(0);
    }
  }

  .domains :global(.domain-content) {
    animation: appearBlur 400ms ease-out;
  }
</style>
