@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-color: color 50ms linear, background-color 500ms linear, fill 500ms linear,
    border-color 500ms linear, border 500ms linear;
}

*,
*::after,
*::before {
  transition: var(--transition-color);
}

body {
  @apply text-gray-800;
  @apply bg-gray-50;
  @apply dark:text-gray-100;
  @apply dark:bg-gray-900;
}

body {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  @apply border-gray-50;
  border-style: solid;
  border-width: 4px;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply border-gray-900;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-100;
}

@layer utilities {
  .w-fit {
    width: fit-content;
  }

  .nav-link {
    @apply text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-white;
  }
}
