body {
  font-family: "Open Sans";
  color: #333333;
}

.contTitle {
  font-size: 1.75rem;
  font-weight: 600;
}

.contText {
  font-size: 1.25rem;
  font-weight: 500;
  color: #505050;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 750ms;
}
.fade-exit-active {
  transition: opacity 500ms;
}

.empty-content{
  height: 1500px;
}