html,
body {
  @apply text-gray-800;
  @apply bg-gray-50;
  @apply dark:text-gray-50;
  @apply dark:bg-gray-900;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s;
}
.fade-exit-active {
  transition: opacity 200ms;
}

.empty-content {
  height: 400px;
}

.link-active {
  @apply text-gray-800;
}

nav > * #navIcon {
  height: 100%;
  width: auto;
}

nav > * #navIcon > * path {
  fill: #1f2937;
}

.shadow-hover {
  @apply shadow-md hover:shadow-xl transition-shadow duration-500 ease-in-out;
}

@media (prefers-color-scheme: dark) {
  .link-active {
    @apply text-white;
  }

  nav > * #navIcon > * path {
    fill: #f9fafb;
  }
}
