body {
  font-family: "Open Sans";
  color: #232129;
}

.contTitle {
  font-size: 1.75rem;
}

.contText {
  margin: auto;
  font-size: 1.25rem;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 750ms;
}
.fade-exit-active {
  transition: opacity 500ms;
}

.empty-content{
  height: 1500px;
}