---
import { getLangFromUrl, useTranslations } from '~/i18n';
import heroPP from '~/assets/hero-pp.jpg';
import { Image } from 'astro:assets';
import SocialsIcon from './SocialsIcon.astro';
import SkillsSubtitle from '~/components/home/hero/SkillsSubtitle';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  class="flex h-screen flex-col items-center justify-center gap-4 bg-linear-to-b from-stone-300 to-stone-50 md:flex-row dark:from-slate-950 dark:to-slate-900"
>
  <div class="mx-8">
    <h1 class="text-3xl font-bold lg:text-4xl">{t('hero.title')}</h1>
    <h2
      class="mx-0 bg-linear-to-br from-blue-400 to-purple-800 bg-clip-text text-2xl font-semibold text-transparent lg:text-3xl"
    >
      {t('hero.subtitle')}
    </h2>
    <SkillsSubtitle client:load lang={lang} />
    <div class="mt-2 hidden md:block">
      <SocialsIcon />
    </div>
  </div>
  <div id="hero-image" class="max-w-[300px] md:w-1/3">
    <Image
      src={heroPP}
      width="800"
      height="800"
      sizes="(max-width: 800px) 80vw, 800px"
      alt="descriptive text"
      loading="eager"
      class="aspect-square rounded-xl object-cover shadow-2xl shadow-blue-500/30 dark:shadow-purple-800/70"
    />
    <div class="mt-2 flex justify-end md:hidden">
      <SocialsIcon />
    </div>
  </div>
</section>

<style>
  @keyframes animate-hero-title {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-hero-image {
    85% {
      opacity: 1;
      scale: 1;
    }
    100% {
      opacity: 1;
      scale: 1;
      filter: blur(0);
    }
  }

  @keyframes animate-hero-techno {
    0% {
      opacity: 0;
      scale: 0.85;
      filter: blur(14px);
    }
    85% {
      opacity: 1;
      scale: 1;
    }
    100% {
      filter: blur(0);
    }
  }

  h1 {
    opacity: 0;
    transform: translateY(-80px);
    animation: animate-hero-title 1s forwards var(--ease-out-3);
  }
  h2 {
    opacity: 0;
    transform: translateY(-70px);
    animation: animate-hero-title 1s 0.1s forwards var(--ease-out-3);
  }

  #hero :global(h3) {
    opacity: 0;
    transform: translateY(-60px);
    animation: animate-hero-title 1s 0.2s forwards var(--ease-out-3);
  }

  #hero :global(#heroTechno.animate) {
    animation: animate-hero-techno 0.8s var(--ease-out-4);
  }

  #hero-image {
    opacity: 0;
    scale: 0.85;
    filter: blur(15px);
    animation: animate-hero-image 0.8s 0.75s forwards var(--ease-out-4);
  }
</style>
