---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import heroPP from '@/assets/hero-pp.jpg';
import { Picture } from '@astrojs/image/components';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  class="flex h-screen flex-col items-center justify-center gap-4 bg-gradient-to-b from-stone-300 to-stone-50 dark:from-slate-950 dark:to-slate-900 md:flex-row"
>
  <div class="mx-8 md:w-1/2">
    <h1>{t('hero.title')}</h1>
    <h2
      class="bg-gradient-to-br from-blue-400 to-purple-800 bg-clip-text text-transparent"
    >
      {t('hero.subtitle')}
    </h2>
    <p
      class="fade-in-bottom text-justify text-sm first-letter:font-serif first-letter:text-3xl"
    >
      {t('hero.description')}
    </p>
  </div>
  <div class="max-w-[300px] md:w-1/3">
    <Picture
      src={heroPP}
      widths={[200, 400, 800]}
      aspectRatio="3:4"
      sizes="(max-width: 800px) 80vw, 800px"
      alt="descriptive text"
      class="fade-in-bottom aspect-square rounded-xl object-cover shadow-2xl shadow-blue-500/30 dark:shadow-purple-800/70"
    />
  </div>
</section>

<script>
  import { gsap } from 'gsap';

  gsap
    .timeline()
    .from('#hero :is(h1, h2)', {
      y: -50,
      opacity: 0,
      stagger: 0.01,
      duration: 2,
      ease: 'power4.out',
    })
    .from('#hero .fade-in-bottom', {
      y: 50,
      opacity: 0,
      duration: 0.75,
      delay: -1.5,
      ease: 'power2.out',
      stagger: 0.2,
    })
    .fromTo(
      '#hero img',
      {
        yPercent: 0,
        ease: 'none',
      },
      {
        scrollTrigger: {
          trigger: '#hero',
          start: 'top top',
          end: 'bottom top',
          scrub: true,
        },
        yPercent: -50,
        ease: 'none',
      }
    );
</script>
