---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import heroPP from '@/assets/hero-pp.jpg';
import { Picture } from '@astrojs/image/components';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  class="h-screen flex flex-col md:flex-row items-center justify-center gap-4 bg-gradient-to-b from-stone-300 to-stone-50 dark:from-slate-950 dark:to-slate-900"
>
  <div class="mx-8 md:w-1/2">
    <h1>{t('hero.title')}</h1>
    <h2>{t('hero.subtitle')}</h2>
    <p
      class="fade-in-bottom first-letter:font-serif first-letter:text-3xl text-sm text-justify"
    >
      Vous trouverez sur ce site l'intégralité de mes compétences dans ce
      domaine ainsi que mes divers projets.
    </p>
  </div>
  <div class="md:w-1/3">
    <Picture
      src={heroPP}
      widths={[200, 400, 800]}
      aspectRatio="3:4"
      sizes="(max-width: 800px) 80vw, 800px"
      alt="descriptive text"
      class="aspect-square object-cover rounded-xl fade-in-bottom"
    />
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import SplitType from 'split-type';

  const ourText = new SplitType('#hero :is(h1, h2)', { types: 'words, chars' });
  gsap
    .timeline()
    .from(ourText.chars, {
      y: 50,
      opacity: 0,
      stagger: 0.01,
      duration: 2,
      ease: 'power4.out',
    })
    .from('#hero .fade-in-bottom', {
      y: 50,
      opacity: 0,
      duration: 0.75,
      delay: -1.5,
      ease: 'power2.out',
      stagger: 0.2,
    })
    .fromTo(
      '#hero img',
      {
        yPercent: 0,
        ease: 'none',
      },
      {
        scrollTrigger: {
          start: 'top top',
          end: 'bottom top',
          scrub: true,
        },
        yPercent: -75,
        ease: 'none',
      }
    );
</script>
