---
import '@fontsource-variable/inter';
import { getLangFromUrl, useTranslations } from '~/i18n';
import Nav from '~/layouts/Nav.astro';
import Footer from '~/layouts/Footer.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const links: Parameters<typeof Nav>[0]['links'] = [
  {
    href: '#experiences',
    label: t('nav.experiences'),
  },
  {
    href: '#skills',
    label: t('nav.skills'),
  },
  {
    href: '#projects',
    label: t('nav.projects'),
  },
  // {
  //   href: '/blog',
  //   label: t('nav.blog'),
  // },
];
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Raphaël Catarino | Portfolio</title>
    <meta name="description" content={t('meta.description')} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      data-domain="raphael-catarino.fr"
      is:inline
      src="https://plausible.raphael-catarino.fr/js/script.js"></script>
  </head>
  <body>
    <Nav base="#hero" links={links} animationDelay={1.5} />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import 'open-props/easings';

  html,
  body {
    @apply bg-stone-50 text-sm text-slate-900 lg:text-base dark:bg-slate-900 dark:text-stone-50;
    font-family: 'Inter Variable', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
    min-height: 200vh;
  }

  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }

  h2 {
    @apply mx-2 text-2xl font-semibold lg:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  h4 {
    @apply text-lg lg:text-xl;
  }

  section > :is(h1, h2) {
    @apply text-center;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
      filter: blur(5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
  }

  :is(h1, h2):not(#hero :is(h1, h2)) {
    opacity: 0;
    transition:
      opacity 0.3s,
      transform 0.3s;
    animation-delay: 0.5s;
  }

  :is(h1, h2):not(#hero :is(h1, h2)).visible {
    animation: fadeIn 0.5s ease-out forwards;
  }

  @media (prefers-color-scheme: dark) {
    html {
      scrollbar-color: #64748b #0f172a;
    }

    ::-webkit-scrollbar {
      background: #0f172a;
    }

    ::-webkit-scrollbar-thumb {
      background: #64748b;
      border-radius: 0.5rem;
      border: 3px solid #0f172a;
    }
  }
</style>

<script>
  import { createObserver } from '~/lib/utils';

  createObserver(':is(h1, h2):not(#hero :is(h1,h2))', 'visible');
</script>
