---
import '@fontsource-variable/inter';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import Nav from '~/layouts/Nav.astro';
import Footer from '~/layouts/Footer.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const links: Parameters<typeof Nav>[0]['links'] = [
  {
    href: '#experiences',
    label: t('nav.experiences'),
  },
  {
    href: '#skills',
    label: t('nav.skills'),
  },
  {
    href: '#projects',
    label: t('nav.projects'),
  },
  {
    href: '/blog',
    label: t('nav.blog'),
  },
];
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Raphaël Catarino | Portfolio</title>
    <meta name="description" content={t('meta.description')} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      data-domain="raphael-catarino.fr"
      src="https://plausible.raphael-catarino.fr/js/script.js"></script>
  </head>
  <body>
    <Nav base="#hero" links={links} animationDelay={4.5} />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  html,
  body {
    @apply bg-stone-50 text-sm text-slate-900 dark:bg-slate-900 dark:text-stone-50 lg:text-base;
    font-family: 'Inter Variable', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
    min-height: 200vh;
  }

  h1 {
    @apply text-4xl font-bold lg:text-5xl;
  }

  h2 {
    @apply mx-2 text-2xl font-semibold lg:text-3xl;
  }

  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  h4 {
    @apply text-lg lg:text-xl;
  }

  section {
    & > h1 {
      @apply text-center;
    }

    & > h2 {
      @apply text-center;
    }
  }
</style>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import SplitType from 'split-type';

  gsap.registerPlugin(ScrollTrigger);

  const subtitles = document.querySelectorAll('section:not(#hero) > h2');
  subtitles.forEach((subtitle) => {
    const subtitleSplit = new SplitType(subtitle as HTMLElement, {
      types: 'lines, words',
      lineClass: 'overflow-hidden',
    });
    gsap.from(subtitleSplit.words, {
      scrollTrigger: {
        trigger: subtitle.parentElement,
        start: 'top 80%',
      },
      y: '100%',
    });
  });
</script>
