---
import '@fontsource-variable/inter';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>RC | Blog</title>
        <meta name="description" content={t('meta.description')} />
        <script
            defer
            data-domain="raphael-catarino.fr"
            src="https://plausible.raphael-catarino.fr/js/script.js"></script>
    </head>
    <body> Coming soon...</body>
</html>
