.vertical-timeline.vertical-timeline-custom-line::before {
  background-color: #c5c5c5;
}

.vertical-timeline-element-content {
  @apply dark:bg-gray-800;
  @apply shadow-lg;
}

.vertical-timeline-element-icon svg {
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0;
  padding: 0.8rem;
}

@media (max-width: 1170px) {
  .vertical-timeline-element-icon svg {
    padding: 0.5rem;
  }
}
