---
import SocialsIcon from '~/components/home/hero/SocialsIcon.astro';
import svgIcon from '~/assets/favicon.svg';
---

<footer
  class="flex h-40 flex-col items-center justify-end gap-2 border-t bg-stone-200 p-4 text-sm dark:border-slate-800 dark:bg-slate-950"
>
  <SocialsIcon />
  <p class="flex items-center gap-2 opacity-80">
    <img src={svgIcon.src} alt="Raphaël Catarino logo" width={24} height={24} />
     &copy; Raphaël Catarino - 2023
  </p>
</footer>
