@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  @apply bg-gray-50 dark:bg-gray-800 dark:text-gray-50;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

main > section {
  scroll-margin-top: 6rem;
}

main > section:nth-child(even) {
  @apply bg-white dark:bg-gray-900 dark:text-gray-50;
}

main > section:nth-child(odd) {
  @apply bg-stone-100 dark:bg-gray-800 dark:text-gray-50;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 750ms 200ms ease-in forwards;
}

.slideInBottom {
  opacity: 0;
  transform: translateY(50%);
  animation: fadeIn 750ms 200ms ease-in forwards,
    slideInBottom 750ms 200ms ease forwards;
}

.slideInTop {
  transform: translateY(-140%);
  animation: slideInTop 750ms 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-140%);
  }
  100% {
    transform: translateY(0);
  }
}
