@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  @apply bg-gray-50 dark:bg-gray-800 dark:text-gray-50;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

main > section {
  scroll-margin-top: 0rem;
}

main > section:first-child {
  @apply bg-gradient-to-b from-gray-50 to-gray-200 dark:from-gray-900 dark:to-gray-800 dark:text-gray-50;
}

main > section:nth-child(2) {
  @apply bg-gradient-to-b from-gray-200 to-gray-50 dark:from-gray-800 dark:to-gray-900 dark:text-gray-50;
}

main > section:nth-child(3) {
  @apply bg-gradient-to-b from-stone-50 to-stone-300 dark:from-slate-900 dark:to-slate-800 dark:text-gray-50;
}

main > section:nth-child(4) {
  @apply bg-gradient-to-b from-stone-300 to-stone-50 dark:from-slate-800 dark:to-slate-900 dark:text-gray-50;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 750ms 200ms ease-in forwards;
}

.slideInBottom {
  opacity: 0;
  transform: translateY(50%);
  animation: fadeIn 750ms 200ms ease-in forwards,
    slideInBottom 750ms 200ms ease forwards;
}

.slideInTop {
  transform: translateY(-140%);
  animation: slideInTop 750ms 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-140%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Scrollbar */
.dark *,
.darkScroll * {
  scrollbar-color: rgb(31 41 55) rgb(203 213 225 / 0.5);
}

.dark *:hover,
.darkScroll *:hover {
  scrollbar-color: rgb(31 41 55) rgb(203 213 225 / 0.7);
}

.dark *::-webkit-scrollbar,
.darkScroll *::-webkit-scrollbar {
  background-color: rgb(31 41 55);
  width: 1.1rem;
  height: 1.1rem;
}

.dark *::-webkit-scrollbar-thumb,
.darkScroll *::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225 / 0.5);
  border-radius: 100vw;
  border: solid 0.25rem rgb(31 41 55);
}

.dark *:hover::-webkit-scrollbar-thumb,
.darkScroll *:hover::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225 / 0.7);
}

/* Skill */
.skill-wrapper {
  position: relative;
}
.skill-wrapper .grid-lines > div {
  @apply absolute from-slate-400/0 via-slate-400/60 to-slate-400/0;
}
.skill-wrapper .grid-lines > .vertical {
  @apply -top-1/2 h-[200%] w-px bg-gradient-to-b;
}
.skill-wrapper .grid-lines > .horizontal {
  @apply -left-1/2 h-px w-[200%] bg-gradient-to-r;
}
.skill-wrapper .grid-lines > .outer {
  @apply via-slate-400/50;
}
