@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  @apply bg-gray-50 dark:bg-gray-800 dark:text-gray-50;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

section {
  scroll-margin-top: 6rem;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 750ms 200ms ease-in forwards;
}

.slideInBottom {
  opacity: 0;
  transform: translateY(50%);
  animation: fadeIn 750ms 200ms ease-in forwards,
    slideInBottom 750ms 200ms ease forwards;
}

.popIn {
  opacity: 0;
  animation: fadeIn 750ms 200ms ease-in forwards,
    popIn 750ms 200ms ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes popIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
